#------------------------------------------------#
# .gitignore file for Xerox Alto's               #
#  salto simulator                               #
#------------------------------------------------#
# Author:        brainsqueezer                   #
# Revision:      Sabino Maggi                    #
# Last revision: 18-05-2017                      #
#------------------------------------------------#


#--- ignore object files ---#
*.o

#--- ignore libraries and shared objects ---#
#    (including Windows DLLs)
.lib
*.dll
*.so

#--- ignore backup and temporary files ---#
*~
*.kate-swp
alto.mng
asm/helloworld.lst
keyboard.conf
temp/

#--- ignore executables ---#
*.exe
bin/
*.out
obj/
